# This is a comment inside a requirements file

# 1. Install the latest available version of a package
requests

# 2. Install an exact version (Highly Recommended)
fastapi == 0.110.0

# 3. Set a minimum version requirement
pandas >= 2.2.0

